@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http;
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "SubCourse Create";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-pie-chart mr-1"></i> SubCourse</a></li>
        <li class="breadcrumb-item active" aria-current="page">SubCourse</li>
    </ol>
    <div class="ml-auto">
        <a href="~/SubCourse/SubCourseList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">SubCourse Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">CourseName <span style="color: red;"><b>*</b></span></label>
                                <select class="form-control" autocomplete="off" id="courseid" required></select>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Name <span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" autocomplete="off" id="subcoursename" name="subcoursename" placeholder="SubCourse Name" required />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Details <span style="color: red;"><b>*</b></span></label>
                                <textarea type="text" class="form-control" autocomplete="off" id="subcoursedetails" name="subcoursedetails" placeholder="SubCourse Details" required></textarea>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Duration <span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" autocomplete="off" id="subcourseduration" name="subcourseduration" placeholder="SubCourse Duration" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Price</label>
                                <input type="text" class="form-control" autocomplete="off" id="subcourseprice" name="subcourseprice" placeholder="SubCourse Price" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">DiscountAmount &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="DiscountAmount" placeholder="Enter DiscountAmount">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">SalePrice &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="SalePrice" placeholder="Enter SalePrice">
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">YouTube Video URL</label>
                                <input type="text" class="form-control" id="youtubeVideoUrl" name="youtubeVideoUrl" placeholder="YouTube Video URL" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

@section scripts {
    <script>
        // Fetch SubCourses
        GetSubCourse();
        function GetSubCourse(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Course/GetCourseList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                    var options = [];
                    options.push('<option value="0">Select Category </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        opt = Id == res.data[i].courseId ? 'selected' : '';
                        options.push('<option value="' + res.data[i].courseId + '" ' + opt + '>' + res.data[i].courseName + '</option>');
                    }
                    $("#courseid").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        // Create SubCourse
        $(function () {
            $("#btnSave").click(function (e) {
                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();
                } else {
                    var youtubeUrl = $.trim($("#youtubeVideoUrl").val());
                    var youtubeVideoId = getYouTubeVideoId(youtubeUrl);
                    if (youtubeVideoId == null) {
                        sweetAlert("Validation Alert!", "Invalid YouTube URL", "warning");
                        return;
                    }
                    var model = {
                        courseId: parseInt($("#courseid").val()),
                        subCourseName: $.trim($("#subcoursename").val()),
                        subCourseDetails: $.trim($("#subcoursedetails").val()),
                        subCourseDuration: parseInt($("#subcourseduration").val()),
                        subCoursePrice: parseFloat($("#subcourseprice").val()),
                        discountAmount: parseInt($("#DiscountAmount").val()),
                        salePrice: parseInt($("#SalePrice").val()),
                        video: $.trim($("#youtubeVideoUrl").val()), 
                        createdBy: @Context.Session.GetInt32("UserId")
                            };
                    console.log(model);
                    $.ajax({
                        type: "POST",
                        url: "@apiUrl/api/SubCourse/CreateSubCourse",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            if (xhr.status === 200) {
                                sweetAlert({
                                    html: true,
                                    icon: "success",
                                    title: "SubCourse",
                                    text: "Successfully created!",
                                    type: "success"
                                });
                            } else if (data.status === "duplicate") {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else if (data.status === "error") {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            } else if (data.status == 400) {
                                sweetAlert("Validation Alert!", "Please check input data!", "warning");
                            }
                        }
                    });
                }
            });

            function getYouTubeVideoId(url) {
                var regex = /(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/;
                var match = url.match(regex);
                return match ? match[1] : null;
            }
        });
    </script>
}








@*@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "SubCourse Create";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fe fe-pie-chart mr-1"></i>SubCourse</a></li>
        <li class="breadcrumb-item active" aria-current="page">SubCourse</li>
    </ol>
    <div class="ml-auto">
        <a href="~/SubCourse/SubCourseList" class="btn btn-primary btn-icon btn-sm text-white mr-2">
            <span>
                <i class="fe fe-plus"></i>
            </span> View
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">SubCourse Create</h3>
            </div>
            <div class="card-body">
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">

                         <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">CourseName <span style="color: red;"><b>*</b></span></label>
                                <select class="form-control" autocomplete="off" id="courseid" required></select>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Name <span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" autocomplete="off" id="subcoursename" name="subcoursename" placeholder="SubCourse Name" required />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Details <span style="color: red;"><b>*</b></span></label>
                                <textarea type="text" class="form-control" autocomplete="off" id="subcoursedetails" name="subcoursedetails" placeholder="SubCourse Details" required></textarea>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Duration <span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" autocomplete="off" id="subcourseduration" name="subcourseduration" placeholder="SubCourse Duration" required />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Image</label>
                                <input type="file" class="form-control" id="subcourseimage" placeholder="SubCourse Image" />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">SubCourse Price</label>
                                <input type="text" class="form-control" autocomplete="off" id="subcourseprice" name="subcourseprice" placeholder="SubCourse Price" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">DiscountAmount &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="DiscountAmount" placeholder="Enter DiscountAmount">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">SalePrice &nbsp;<span style="color: red;"><b>*</b></span></label>
                                <input type="text" class="form-control" id="SalePrice" placeholder="Enter SalePrice">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

@section scripts{
    <script>
        GetSubCourse()
        function GetSubCourse(Id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Course/GetCourseList",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {
                   // console.log(res);
                    var options = [];
                    options.push('<option value="0">Select Category </option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (Id == res.data[i].courseId) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].courseId + '" ' + opt + '>' + res.data[i].courseName + '</option>');
                    }
                    $("#courseid").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }
    </script>
    <script>
        //Create
        $(function () {
            $("#btnSave").click(function (e) {

                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();
                }
                else {
                    imgPath = '';
                    var totalFiles = document.getElementById('subcourseimage').files.length;
                    if (totalFiles > 0) {
                        uploadFile();
                    }
                    var model = {
                        courseId: parseInt($("#courseid").val()),
                        subCourseName: $.trim($("#subcoursename").val()),
                        subCourseDetails: $.trim($("#subcoursedetails").val()),
                        subCourseDuration: parseInt($("#subcourseduration").val()),
                        subCoursePrice: parseFloat($("#subcourseprice").val()),
                        discountAmount: parseInt($("#DiscountAmount").val()),
                        salePrice: parseInt($("#SalePrice").val()),
                        subCourseImage: imgPath,
                        createdBy: @Context.Session.GetInt32("UserId"),
                    }
                    console.log(model)
                    $.ajax({
                        type: "POST",
                        url: "@apiUrl/api/SubCourse/CreateSubCourse",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            if (xhr.status === 200) {

                                sweetAlert({
                                    html: true,
                                    icon: "success",
                                    title: "SubCourse",
                                    text: "Successfully created!",
                                    type: "success"
                                });
                            } else if (data.status === "duplicate") {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else if (data.status === "error") {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            } else if (data.status == 400) {
                                sweetAlert("Validation Alert!", "Please check input data!", "warning");
                            }
                        }
                    });
                }
            });
            function uploadFile() {
                var totalFiles = document.getElementById('subcourseimage').files.length;
                if (totalFiles > 0) {
                    var formData = new FormData();
                    var files = document.getElementById('subcourseimage').files;
                    formData.append("file", files[0]);
                    $.ajax(
                        {
                            url: "/Upload/ImgUpload",
                            data: formData,
                            processData: false,
                            contentType: false,
                            async: false,
                            type: "POST",
                            success: function (data) {
                                imgPath = data;
                            },
                            error: function (data) {
                                window.location.replace('/Message/SessionExpire');
                            }
                        }
                    );
                }
            }
        });
    </script>
}
*@